.booking-sheet-container {
    width: 95%;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 30px;
}

.booking-sheet-tenant-div {
    color: #3c6a2f;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 13px;
}

.booking-sheet-financial-div {
    color: #3c6a2f;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 13px;
}

.booking-sheet-dates {
    margin-top: 20px;
    font-size: 15px;
}

.booking-sheet-edit-btn {
    float: right;
    margin-right: 20px;
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.booking-sheet-section-header {
    width: 95%;
    margin: auto;
    background-color: #3c6a2f;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.property-header {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #3c6a2f;
}

.booking-sheet-financial-label {
    display: inline-block;
    font-weight: bold;
}

.booking-sheet-financial {
    float: right;
    margin-right: 40px;
}

.divider {
    background-color: #a8bba2;
    border: none;
    width: 80%;
    border-radius: 27px 27px 27px 27px;
    height: 2px;
}

.comments-div {
    margin-top: 22px;
}

.comment {
    color: #3c6a2f;
    margin-left: 30px;
    font-size: 15px;
    margin-top: 8px;
}

.comment-submit-btn {
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #a8bba2;
    color: white;
}
      
.comment-submit-btn:hover {
    background-color: #3c6a2f;
    border-color: #a8bba2;
    transition: .3s;
}

.delete-comment-btn {
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: #a8bba2;
    margin-left: 10px;
}

.delete-comment-btn:hover {
    background-color: #3c6a2f;
    transition: .3s;
}

.bookingsheet-home-btn-div {
    text-align: center;
}

.bookingsheet-home-btn {
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #a8bba2;
    color: white;
}

.bookingsheet-home-btn:hover {
    background-color: #3c6a2f;
    transition: .3s;
}