body {
    background-color: #a8bba2;
}

.title{
    width: 95%;
    margin: auto;
    background-color: #3c6a2f;
    color: white;
    padding-left: 20px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.find-booking-container {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    width: 90%;
    border-radius: 30px;
    text-align: center;
    gap: 100px;
    min-width: 1150px;
}


.searchbar {
    font-size: 18px;
    border-radius: 10px;
    border-color: #3c6a2f;
    border-width: thin;
    width: 50%;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 30px;
}

.back-btn {
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #a8bba2;
    box-shadow: 0 0 4px black;
    color: white;
    padding-bottom: center;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.back-btn:hover {
    background-color: #3c6a2f;
    color: white;
    box-shadow: 0 0 15px #a8bba2;
}

.label {
    font-size: 20px;
    font-weight: bold;
    color: #3c6a2f;
    margin-right: 15px;
    margin-bottom: 30px;
}

.section-header {
    width: 95%;
    margin: auto;
    background-color: #3c6a2f;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.search-btn {
    background-color: white;
    color: #3c6a2f;
    box-shadow: 0px 0px 3px #3c6a2f;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.search-btn:hover {
    color: white;
    background-color: #3c6a2f;
    transition: .5s;
    box-shadow: 0px 0px 0px;
}

/* .bookings-folder {
    width: 80%;
} */

