.unapproved-users-container {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    width: 30%;
    max-width: 50%;
    border-radius: 30px;
    padding: 30px;
}

/* .unapproved-users-div {
    color: #3c6a2f;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
} */

.approve-btn {
    margin-left: 15px;
    font-size: 15px;
    background-color: #a8bba2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.approve-btn:hover {
    background-color: #3c6a2f;
    transition: .5s;
}

.deny-btn {
    margin-left: 15px;
    font-size: 15px;
    background-color: #b5b2af;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.deny-btn:hover {
    background-color: #313030;
    transition: .5s;
}

.unapproved-user-column {
    padding: 5px;
    padding-left: 20px;
    font-size: 15px;
}

.unapproved-username-column {
    padding: 5px;
    padding-left: 20px;
    font-size: 15px;
    word-break: break-all;
}

.registration-date {
    font-size: 15px;
    /* padding: 5px; */
    display: inline-block;
}

.unapproved-user-table {
    margin-left: auto;
    margin-right: auto;
}