
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.tenant-modal-content {
    position: absolute;
    padding: 40px;
    margin: auto;
    width: 50%;
    /* height: 500px; */
    height: 70%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    overflow: scroll;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal.enter-done .financial-modal-content {
    transform: translateY(0);
}

.modal.exit .financial-modal-content {
    transform: translateY(-200px);
}

.tenant-modal-input-div {
    width: 300px;
    display: flex;
    flex-direction: row;
}

.edit-tenant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.tenant-section-header {
    width: auto;
    margin-bottom: 10px;
    background-color: #3c6a2f;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cancel-add-tenant-btn {
    font-size: 38px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #a8bba2;
    box-shadow: 0 0 4px black;
    color: white;
}

.cancel-add-tenant-btn:hover {
    background-color: #3c6a2f;
    color: white;
    box-shadow: 0 0 15px #a8bba2;
}

.tenant-nav-btn-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    column-width: 15rem;
    margin-bottom: 0px;
    margin: auto;
}

.edit-tenant-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #3c6a2f;
    padding: 10px;;
}

.tenant-submit-btn {
    font-size: 38px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
    padding: 20px;
    border-color: #3c6a2f;
    background-color: white;
    color: #3c6a2f;
}

.tenant-financial-submit-btn:disabled {
    opacity: 20%;
}

.tenant-financial-submit-btn:hover:not([disabled]) {
    background-color: #3c6a2f;
    color: white;
    box-shadow: 0 0 15px #a8bba2;
}

.tenant-buttons {
    width: auto;
    margin: auto;
}










