@media only screen and (max-width: 768px) {
    .property-dropdown {
        font-size: 25px;
        font-weight: bold;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 30px;
        color: #3c6a2f;
    }
    
    .property-select-container {
        text-align: center;
    }
    
    .vendor-select-container {
        text-align: center;
    }
    
    .vendor-dropdown {
        font-size: 18px;
        border-radius: 10px;
        border-color: #3c6a2f;
        border-width: thin;
        width: 75%;
        height: 42px;
        margin: 5px;
        padding: 5px;
        padding-left: 15px;
    }
    
    .add-property-btn {
        margin-left: 15px;
        font-size: 30px;
        background-color: #a8bba2;
        color: white;
        border: none;
        border-radius: 5px;
    }
    
    
    .add-vendor-btn {
        margin-left: 5px;
        font-size: 20px;
        background-color: #a8bba2;
        color: white;
        border: none;
        border-radius: 5px;
    }
    
    .add-property-btn:hover {
        background-color: #3c6a2f;
        transition: .5s;
    }
    
    .add-vendor-btn:hover {
        background-color: #3c6a2f;
        transition: .5s;
    }
    
    .section-header {
        width: 95%;
        margin: auto;
        background-color: #3c6a2f;
        color: white;
        padding-left: 20px;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .label {
        font-size: 18px;
        font-weight: bold;
        color: #3c6a2f;
        margin-right: 15px;
    }
    

    
  
    
    .nav-btn-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        column-width: 15rem;
        width: 95%;
        margin: auto;
        padding-top: 15px;
        margin-bottom: 20px;
    }
    
    .tenant-input-div {
        text-align: left;
        width: 100%;
        margin: auto;
    }
    
    .vendor-input-div {
        text-align: left;
        width: 100%;
        margin: auto;
    }
    
    .vendor-dropdown-div {
        text-align: left;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    
    .vendor-btn-div {
        display: inline-block;
        padding-top: 10px;
    }
    
    .tenant-input {
        font-size: 18px;
        border-radius: 10px;
        border-color: #3c6a2f;
        border-width: thin;
        width: 90%;
        height: 20px;
        padding: 5px;
        padding-left: 15px;
    }
    
    .tenant-input-date-div {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .vendor-input {
        font-size: 18px;
        border-radius: 10px;
        border-color: #3c6a2f;
        border-width: thin;
        width: 90%;
        height: 30px;
        padding: 5px;
        padding-left: 15px;
    }
    
    .date-picker {
        margin: 15px;
        display: inline-block;
    }
    
    .financial-input {
        font-size: 18px;
        border-radius: 10px;
        border-color: #3c6a2f;
        border-width: thin;
        width: 90%;
        height: 30px;
        padding: 5px;
        padding-left: 15px;
    }
    
    .financial-headers {
        color: #3c6a2f;
        text-align: center;
    }
    
    .money-total {
        display: inline-block;
        margin: auto;
        text-align: center;
        background-color: #3c6a2f;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .booking-amount {
        text-align: center;
        margin-bottom: 30px;
    }
    
    hr.rounded {
        border-top: 1.5px solid #a8bba2;
        border-radius: 15px;
        width: 90%;
    }
    
    .submit-btn {
        font-size: 38px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 4px black;
        border-radius: 10px;
        padding: 20px;
        border-color: #3c6a2f;
        background-color: white;
        color: #3c6a2f;
    }
    
    .submit-btn:disabled {
        opacity: 20%;
    }
    
    .submit-btn:hover:not([disabled]) {
        background-color: #3c6a2f;
        color: white;
        box-shadow: 0 0 15px #a8bba2;
    }
    
    .cancel-btn {
        font-size: 38px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #a8bba2;
        box-shadow: 0 0 4px black;
        color: white;
    }
    
    .cancel-btn:hover {
        background-color: #3c6a2f;
        color: white;
        box-shadow: 0 0 15px #a8bba2;
    }

    /* /////////////////////////////////////// */

    .nav-btn-div {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }

    .tenant-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 100px;
    }

    .vendor-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 100px;
    }

    .financial-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 100px;
    }

    .booking-form-container {
        margin: auto;
        margin-top: 50px;
        background-color: white;
        padding: 30px;
        width: 100%;
        border-radius: 30px;
    }
  }