.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.financial-modal-content {
    /* margin: auto; */
    /* margin-top: 500px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    width: 650px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal.enter-done .financial-modal-content {
    transform: translateY(0);
}

.modal.exit .financial-modal-content {
    transform: translateY(-200px);
}

.financial-modal-input-div {
    width: 300px;
}

.edit-financial-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
}

.financial-section-header {
    width: 100%;
    margin-bottom: 10px;
    background-color: #3c6a2f;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-size: medium;
    padding-top: .5px;
    /* padding-bottom: 1px; */
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cancel-add-financial-btn {
    font-size: 38px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #a8bba2;
    box-shadow: 0 0 4px black;
    color: white;
}

.cancel-add-financial-btn:hover {
    background-color: #3c6a2f;
    color: white;
    box-shadow: 0 0 15px #a8bba2;
}

.financial-nav-btn-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    column-width: 15rem;
    width: 95%;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 0px;
    position: absolute;
}

.edit-financial-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}