.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.financial-modal-content {
    position: absolute;
    padding: 40px;
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    overflow: scroll;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal.enter-done .financial-modal-content {
    transform: translateY(0);
}

.modal.exit .financial-modal-content {
    transform: translateY(-200px);
}

.financial-modal-input-div {
    width: 300px;
    display: flex;
    flex-direction: row;
}

.edit-financial-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.financial-section-header {
    width: auto;
    margin-bottom: 10px;
    background-color: #3c6a2f;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    padding-top: .5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cancel-add-financial-btn {
    font-size: 38px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #a8bba2;
    box-shadow: 0 0 4px black;
    color: white;
}

.cancel-add-financial-btn:hover {
    background-color: #3c6a2f;
    color: white;
    box-shadow: 0 0 15px #a8bba2;
}

.financial-nav-btn-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    column-width: 15rem;
    margin-bottom: 0px;
    margin: auto;
}

.edit-financial-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #3c6a2f;
    padding: 10px;;
}

.financial-divider {
    background-color: #3c6a2f;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.financial-vendor-dropdown {
    font-size: 18px;
    border-radius: 10px;
    border-color: #3c6a2f;
    border-width: thin;
    width: 75%;
    height: 42px;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
}

.edit-financial-toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.edit-financial-booking-amount {
    text-align: center;
    margin-bottom: 30px;
}

.edit-financial-financial-headers {
    color: #3c6a2f;
    text-align: center;
}

.edit-financial-money-total {
    display: inline-block;
    margin: auto;
    text-align: center;
    background-color: #3c6a2f;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.toggle-div {
    text-align: center;
}

.financial-submit-btn {
    font-size: 38px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
    padding: 20px;
    border-color: #3c6a2f;
    background-color: white;
    color: #3c6a2f;
}

.financial-submit-btn:disabled {
    opacity: 20%;
}

.financial-submit-btn:hover:not([disabled]) {
    background-color: #3c6a2f;
    color: white;
    box-shadow: 0 0 15px #a8bba2;
}

.financial-buttons {
    width: auto;
    margin: auto;
}